div.vec3 {
  display: inline;
}

#_x, #_y, #_z{
  width: 46px;
  transition: 0.1s background-color ease-in-out, 0.1s border-color ease-in-out, 0.1s color ease-in-out;
  min-height: 14px;
  outline: none;
  background: #222;
  border: 1px solid transparent;
  color: #1faaf2;
  min-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent !important;
  border: 0;
  color: #20b1fb !important;
  cursor: col-resize;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 0;
}

.parameter-editor {
    font-size: 12px;
    min-width: 450px;
    height: 30px;
    padding: 16px 16px 24px 100px;
}
